* {
  font-family: monospace;
}

nav {
  height: 20rem;
  position: relative;
}

html,
body {
  background-image: url("assets/newspaperbg.jpg");
}

/*Cursor Ayarları*/
body {
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #000; /* İmleç kenar rengi siyah */
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: transparent;
    box-shadow: 0 0 20px #0000002d; /* Başlangıç parlaklık */
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5); /* Maksimum parlaklık */
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; /* İmleç etrafındaki parlak halkalar */
  }
}

/*Cursor Ayarlar Son*/

/*CARD AYARLARI*/
.card {
  border: none; /* Kartın kenar çizgilerini kaldır */
  border-radius: 15px; /* Kartı yuvarlat */
  overflow: hidden; /* İçerik taşmasını engelle */
  transition: transform 0.3s ease-in-out; /* Animasyon */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Gölgelendirme */
}

.card:hover {
  transform: scale(1.05); /* Hover üzerinde büyüt */
}

video {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px; /* Üst sol köşeyi yuvarlat */
  border-top-right-radius: 15px; /* Üst sağ köşeyi yuvarlat */
}

.card-body {
  text-align: center;
  background-color: #f8f9fa; /* Kartın arka plan rengi */
}
/*card son*/

#ozgecmis img:hover {
  transform: scale(1.01); /* Resmi 1.1 kat büyüt */
  transition: transform 0.3s ease; /* Geçiş süresi ve hızı */
  cursor: zoom-in; /* Üzerine geldiğinde imleci büyüteç olarak değiştir */
}

@media (max-width: 767px) {
  .altun {
    position: relative;
    top: -0.5em; /* Düzeltilmesi gereken miktarı ayarlayın */
  }
}
@media (max-width: 767px) {
  .altun {
    position: relative;
    top: -0.5em; /* Düzeltilmesi gereken miktarı ayarlayın */
  }
}
